<li>
	{{burger_name}}
    {{if!= devoured}} 

	<button class="change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">
	Devoured TIME 
	</button>
    {{/if}}
	<button class="delete-burgers" data-id="{{this.id}}">DELETE!</button>

</li>
