<li>
	{{burger_name}} 
    {{#if devoured}} 

	<button class="btn btn-primary change-devoured" data-id="{{this.id}}" data-newdevoured="{{this.devoured}}">
   <img src="/assets/img/small-juicy.jpg" width="50" height="50" alt="{{this.burger_name}}"> 


	</button>
    {{/if}}
	<button class="btn btn-primary  delete-burger" data-id="{{this.id}}">DELETE!</button>

</li>
{{!-- change-devoured --}}