<li>
	{{burger_name}} 
    {{#if devoured}} 

	<button class="btn btn change-devoured" data-id="{{this.id}}" data-newdevoured="{{this.devoured}}">
   <img src="assets/img/BUR-min.gif" width="100" height="100" alt="{{this.burger_name}}"> 


	</button>
    {{/if}}
	 
	<div class="btn btn-success delete-burger" data-id="{{this.id}}">Delete</div>
      


</li>
{{!-- change-devoured --}}